body {
    background-color: #9ad48f;
}

.harold {
    display: flex;
    justify-content: center;
}
.harold img {
    width: 25%;
    margin-top: 5%;
}

.timer { 
    display: flex;
    justify-content: center;
    font-size: 100px;
    margin-top: -50px;
    font-family: 'Times New Roman', Times, serif;
}